In [1]:
import csv

In [40]:
line_count    = 0
mth_cnt       = 0
total_P_and_L = 0.0
total_change  = 0.0
prev_pl_amt   = 0.0
max_chg       = 0.0
max_month     = ""
min_chg       = 0.0
min_month     = ""
mth, pl_amt,change = "", 0.0, 0.0

with open('data/budget_data.csv') as csv_budget:
    budget_reader = csv.reader(csv_budget, delimiter=',')
    
    for row in budget_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
        else:
            mth, pl_amt    = row[0], float(row[1])
            total_P_and_L += pl_amt
            change         = (pl_amt - prev_pl_amt)
            total_change  += change
            print(f'{line_count:2} Month:\t{mth}  amount: {pl_amt:15,.2f} \tchange: {change:15,.2f} \ttotal Change:{total_change:15,.2f}')
            # print(f'Change => {change:20,.2f}')
            # print(f'{line_count:2} Month:\t{mth}  amount: {pl_amt:15,.2f}')
            if change > 0:
                if change > max_chg:
                    max_chg = change
                    max_month = mth
            else:
                if change < min_chg:
                    min_chg = change
                    min_month = mth
            
            mth_cnt += 1
            prev_pl_amt = pl_amt
        
        total_change += (pl_amt - prev_pl_amt)
        line_count += 1
    print(f'{line_count:2} Month:\t{mth}  amount: {pl_amt:15,.2f} \tchange: {change:15,.2f} \ttotal Change:{total_change:15,.2f}')
    print(f'Processed {mth_cnt} months.')
    print(f'Total:\t\t{total_P_and_L:16,.2f}')
    print(f'Total Change: {total_change:15,.2f} => Average Change:{total_change/mth_cnt:15,.2f}')
    print(f'Greatest Increase in Profits: {max_month} (${max_chg:15,.2f})')
    print(f'Greatest Decrease in Profits: {min_month} (${min_chg:15,.2f})')

Column names are Date, Profit/Losses
 1 Month:	Jan-2010  amount:      867,884.00 	change:      867,884.00 	total Change:     867,884.00
 2 Month:	Feb-2010  amount:      984,655.00 	change:      116,771.00 	total Change:     984,655.00
 3 Month:	Mar-2010  amount:      322,013.00 	change:     -662,642.00 	total Change:     322,013.00
 4 Month:	Apr-2010  amount:      -69,417.00 	change:     -391,430.00 	total Change:     -69,417.00
 5 Month:	May-2010  amount:      310,503.00 	change:      379,920.00 	total Change:     310,503.00
 6 Month:	Jun-2010  amount:      522,857.00 	change:      212,354.00 	total Change:     522,857.00
 7 Month:	Jul-2010  amount:    1,033,096.00 	change:      510,239.00 	total Change:   1,033,096.00
 8 Month:	Aug-2010  amount:      604,885.00 	change:     -428,211.00 	total Change:     604,885.00
 9 Month:	Sep-2010  amount:     -216,386.00 	change:     -821,271.00 	total Change:    -216,386.00
10 Month:	Oct-2010  amount:      477,532.00 	change:      693,918.00 	total Change:     477,532.00
11 Month:	Nov-2010  amount:      893,810.00 	change:      416,278.00 	total Change:     893,810.00
12 Month:	Dec-2010  amount:      -80,353.00 	change:     -974,163.00 	total Change:     -80,353.00
13 Month:	Jan-2011  amount:      779,806.00 	change:      860,159.00 	total Change:     779,806.00
14 Month:	Feb-2011  amount:     -335,203.00 	change:   -1,115,009.00 	total Change:    -335,203.00
15 Month:	Mar-2011  amount:      697,845.00 	change:    1,033,048.00 	total Change:     697,845.00
16 Month:	Apr-2011  amount:      793,163.00 	change:       95,318.00 	total Change:     793,163.00
17 Month:	May-2011  amount:      485,070.00 	change:     -308,093.00 	total Change:     485,070.00
18 Month:	Jun-2011  amount:      584,122.00 	change:       99,052.00 	total Change:     584,122.00
19 Month:	Jul-2011  amount:       62,729.00 	change:     -521,393.00 	total Change:      62,729.00
20 Month:	Aug-2011  amount:      668,179.00 	change:      605,450.00 	total Change:     668,179.00
21 Month:	Sep-2011  amount:      899,906.00 	change:      231,727.00 	total Change:     899,906.00
22 Month:	Oct-2011  amount:      834,719.00 	change:      -65,187.00 	total Change:     834,719.00
23 Month:	Nov-2011  amount:      132,003.00 	change:     -702,716.00 	total Change:     132,003.00
24 Month:	Dec-2011  amount:      309,978.00 	change:      177,975.00 	total Change:     309,978.00
25 Month:	Jan-2012  amount:     -755,566.00 	change:   -1,065,544.00 	total Change:    -755,566.00
26 Month:	Feb-2012  amount:    1,170,593.00 	change:    1,926,159.00 	total Change:   1,170,593.00
27 Month:	Mar-2012  amount:      252,788.00 	change:     -917,805.00 	total Change:     252,788.00
28 Month:	Apr-2012  amount:    1,151,518.00 	change:      898,730.00 	total Change:   1,151,518.00
29 Month:	May-2012  amount:      817,256.00 	change:     -334,262.00 	total Change:     817,256.00
30 Month:	Jun-2012  amount:      570,757.00 	change:     -246,499.00 	total Change:     570,757.00
31 Month:	Jul-2012  amount:      506,702.00 	change:      -64,055.00 	total Change:     506,702.00
32 Month:	Aug-2012  amount:   -1,022,534.00 	change:   -1,529,236.00 	total Change:  -1,022,534.00
33 Month:	Sep-2012  amount:      475,062.00 	change:    1,497,596.00 	total Change:     475,062.00
34 Month:	Oct-2012  amount:      779,976.00 	change:      304,914.00 	total Change:     779,976.00
35 Month:	Nov-2012  amount:      144,175.00 	change:     -635,801.00 	total Change:     144,175.00
36 Month:	Dec-2012  amount:      542,494.00 	change:      398,319.00 	total Change:     542,494.00
37 Month:	Jan-2013  amount:      359,333.00 	change:     -183,161.00 	total Change:     359,333.00
38 Month:	Feb-2013  amount:      321,469.00 	change:      -37,864.00 	total Change:     321,469.00
39 Month:	Mar-2013  amount:       67,780.00 	change:     -253,689.00 	total Change:      67,780.00
40 Month:	Apr-2013  amount:      471,435.00 	change:      403,655.00 	total Change:     471,435.00
41 Month:	May-2013  amount:      565,603.00 	change:       94,168.00 	total Change:     565,603.00
42 Month:	Jun-2013  amount:      872,480.00 	change:      306,877.00 	total Change:     872,480.00
43 Month:	Jul-2013  amount:      789,480.00 	change:      -83,000.00 	total Change:     789,480.00
44 Month:	Aug-2013  amount:      999,942.00 	change:      210,462.00 	total Change:     999,942.00
45 Month:	Sep-2013  amount:   -1,196,225.00 	change:   -2,196,167.00 	total Change:  -1,196,225.00
46 Month:	Oct-2013  amount:      268,997.00 	change:    1,465,222.00 	total Change:     268,997.00
47 Month:	Nov-2013  amount:     -687,986.00 	change:     -956,983.00 	total Change:    -687,986.00
48 Month:	Dec-2013  amount:    1,150,461.00 	change:    1,838,447.00 	total Change:   1,150,461.00
49 Month:	Jan-2014  amount:      682,458.00 	change:     -468,003.00 	total Change:     682,458.00
50 Month:	Feb-2014  amount:      617,856.00 	change:      -64,602.00 	total Change:     617,856.00
51 Month:	Mar-2014  amount:      824,098.00 	change:      206,242.00 	total Change:     824,098.00
52 Month:	Apr-2014  amount:      581,943.00 	change:     -242,155.00 	total Change:     581,943.00
53 Month:	May-2014  amount:      132,864.00 	change:     -449,079.00 	total Change:     132,864.00
54 Month:	Jun-2014  amount:      448,062.00 	change:      315,198.00 	total Change:     448,062.00
55 Month:	Jul-2014  amount:      689,161.00 	change:      241,099.00 	total Change:     689,161.00
56 Month:	Aug-2014  amount:      800,701.00 	change:      111,540.00 	total Change:     800,701.00
57 Month:	Sep-2014  amount:    1,166,643.00 	change:      365,942.00 	total Change:   1,166,643.00
58 Month:	Oct-2014  amount:      947,333.00 	change:     -219,310.00 	total Change:     947,333.00
59 Month:	Nov-2014  amount:      578,668.00 	change:     -368,665.00 	total Change:     578,668.00
60 Month:	Dec-2014  amount:      988,505.00 	change:      409,837.00 	total Change:     988,505.00
61 Month:	Jan-2015  amount:    1,139,715.00 	change:      151,210.00 	total Change:   1,139,715.00
62 Month:	Feb-2015  amount:    1,029,471.00 	change:     -110,244.00 	total Change:   1,029,471.00
63 Month:	Mar-2015  amount:      687,533.00 	change:     -341,938.00 	total Change:     687,533.00
64 Month:	Apr-2015  amount:     -524,626.00 	change:   -1,212,159.00 	total Change:    -524,626.00
65 Month:	May-2015  amount:      158,620.00 	change:      683,246.00 	total Change:     158,620.00
66 Month:	Jun-2015  amount:       87,795.00 	change:      -70,825.00 	total Change:      87,795.00
67 Month:	Jul-2015  amount:      423,389.00 	change:      335,594.00 	total Change:     423,389.00
68 Month:	Aug-2015  amount:      840,723.00 	change:      417,334.00 	total Change:     840,723.00
69 Month:	Sep-2015  amount:      568,529.00 	change:     -272,194.00 	total Change:     568,529.00
70 Month:	Oct-2015  amount:      332,067.00 	change:     -236,462.00 	total Change:     332,067.00
71 Month:	Nov-2015  amount:      989,499.00 	change:      657,432.00 	total Change:     989,499.00
72 Month:	Dec-2015  amount:      778,237.00 	change:     -211,262.00 	total Change:     778,237.00
73 Month:	Jan-2016  amount:      650,000.00 	change:     -128,237.00 	total Change:     650,000.00
74 Month:	Feb-2016  amount:   -1,100,387.00 	change:   -1,750,387.00 	total Change:  -1,100,387.00
75 Month:	Mar-2016  amount:     -174,946.00 	change:      925,441.00 	total Change:    -174,946.00
76 Month:	Apr-2016  amount:      757,143.00 	change:      932,089.00 	total Change:     757,143.00
77 Month:	May-2016  amount:      445,709.00 	change:     -311,434.00 	total Change:     445,709.00
78 Month:	Jun-2016  amount:      712,961.00 	change:      267,252.00 	total Change:     712,961.00
79 Month:	Jul-2016  amount:   -1,163,797.00 	change:   -1,876,758.00 	total Change:  -1,163,797.00
80 Month:	Aug-2016  amount:      569,899.00 	change:    1,733,696.00 	total Change:     569,899.00
81 Month:	Sep-2016  amount:      768,450.00 	change:      198,551.00 	total Change:     768,450.00
82 Month:	Oct-2016  amount:      102,685.00 	change:     -665,765.00 	total Change:     102,685.00
83 Month:	Nov-2016  amount:      795,914.00 	change:      693,229.00 	total Change:     795,914.00
84 Month:	Dec-2016  amount:       60,988.00 	change:     -734,926.00 	total Change:      60,988.00
85 Month:	Jan-2017  amount:      138,230.00 	change:       77,242.00 	total Change:     138,230.00
86 Month:	Feb-2017  amount:      671,099.00 	change:      532,869.00 	total Change:     671,099.00
87 Month:	Feb-2017  amount:      671,099.00 	change:      532,869.00 	total Change:     671,099.00
Processed 86 months.
Total:		   38,382,578.00
Total Change:      671,099.00 => Average Change:       7,803.48
Greatest Increase in Profits: Feb-2012 ($   1,926,159.00)
Greatest Decrease in Profits: Sep-2013 ($  -2,196,167.00)